 <link rel="stylesheet" href="./styles.css">


<div class="row">
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src={{ profile.profile_image }} style="width: 250px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: {{user.username }}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Location: {{profile.user_location}}</li>
    <li class="list-group-item">Experience: {{profile.user_experience }}</li>
    <li class="list-group-item">Gear: {{ profile.has_gear }}</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5 mb-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://media.npr.org/assets/img/2018/09/07/2377334-yosemite-rock-climbing-photo-3-908b62bafd99898e0d91685d8b5a838a6b0c2b9f.jpg' style="width: 280px; height: auto; margin-top: 1%">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: climbingRocks</li>
    <li class="list-group-item">Email: jj2300@gmail.com </li>
    <li class="list-group-item">Location: American Fork</li>
    <li class="list-group-item">Experience: Very experienced </li>
    <li class="list-group-item">Gear: I have sport and trad gear</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/tucson-redesign/mountain_climber_cliff_rock4_312498f1-2c4e-4950-b0c0-733e574cbb4d.jpg' style="width: 280px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: sarahclimbs</li>
    <li class="list-group-item">Email: sarahcollins@yahoo.com </li>
    <li class="list-group-item">Location: Sugarhouse </li>
    <li class="list-group-item">Experience: I have been climbing for four years</li>
    <li class="list-group-item">Gear: I have all the gear for indoors</li>
  </ul>
 </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://media.cntraveler.com/photos/5f30886e01aedaf2771c6399/3:4/w_3101,h_4135,c_limit/Bouldering-GettyImages-1199646674.jpg' style="width: 150px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: plaindemon</li>
    <li class="list-group-item">Email: plain@demon.com</li>
    <li class="list-group-item">Location: slc</li>
    <li class="list-group-item">Experience: 2 years</li>
    <li class="list-group-item">Gear: I have enough gear to go outdoors</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5 mb-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://www.99boulders.com/wp-content/uploads/2020/09/Bouldering-Grades-Image-1.jpg' style="width: 280px; height: auto; margin-top: 1%">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: climbingRocks</li>
    <li class="list-group-item">Email: jj2300@gmail.com </li>
    <li class="list-group-item">Location: American Fork</li>
    <li class="list-group-item">Experience: Very experienced </li>
    <li class="list-group-item">Gear: I have sport and trad gear</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://thefrontclimbingclub.com/slc/wp-content/uploads/sites/2/2020/09/The-Front-Climbing-Facility-For-Petzl-50.jpg' style="width: 280px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: sarahclimbs</li>
    <li class="list-group-item">Email: sarahcollins@yahoo.com </li>
    <li class="list-group-item">Location: Sugarhouse </li>
    <li class="list-group-item">Experience: I have been climbing for four years</li>
    <li class="list-group-item">Gear: I have all the gear for indoors</li>
  </ul>
 </div>
</div>
<div class="row">
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://images.pexels.com/photos/3031397/pexels-photo-3031397.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940' style="width: 150px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: plaindemon</li>
    <li class="list-group-item">Email: plain@demon.com</li>
    <li class="list-group-item">Location: slc</li>
    <li class="list-group-item">Experience: 2 years</li>
    <li class="list-group-item">Gear: I have enough gear to go outdoors</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5 mb-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://image.shutterstock.com/mosaic_250/2780032/1667439913/stock-photo-headshot-portrait-of-smiling-millennial-male-employee-talk-on-video-call-or-web-conference-in-1667439913.jpg' style="width: 280px; height: auto; margin-top: 1%">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: climbingRocks</li>
    <li class="list-group-item">Email: jj2300@gmail.com </li>
    <li class="list-group-item">Location: American Fork</li>
    <li class="list-group-item">Experience: Very experienced </li>
    <li class="list-group-item">Gear: I have sport and trad gear</li>
  </ul>
 </div>
</div>
  <div class="col-4">
    <div class="card mt-5" id="card-info" style="width: 300px; height: 500px; margin-top: 1%">
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src='https://thumbs.dreamstime.com/b/head-shot-portrait-social-networks-dating-application-profile-picture-attractive-young-happy-indian-arabic-mixed-race-woman-203598050.jpg' style="width: 280px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: sarahclimbs</li>
    <li class="list-group-item">Email: sarahcollins@yahoo.com </li>
    <li class="list-group-item">Location: Sugarhouse </li>
    <li class="list-group-item">Experience: I have been climbing for four years</li>
    <li class="list-group-item">Gear: I have all the gear for indoors</li>
  </ul>
 </div>
</div>


{{!-- <script src="/javascript/profile.js"></script> --}}


<script src="/javascript/all-profile.js"></script>  --}} --}}