
<h1 id="welcome"> Welcome {{user.name}} </h1>

<div class="profile-card border-secondary mb-3">
<div class="card" style="width: 18rem;">
  <img src= {{ profile_image }} class="card-img-top" alt="profile picture">
  <div class="card-body">
    <h5 class="card-title">{{name}}</h5>
    <p class="card-text">My preferences</p>
  </div>
  <ul class="list-group list-group-flush">
    <li id="username"class="list-group-item">{{username}}</li>
    <li id="location" class="list-group-item">{{location}}</li>
    <li id="phone" class="list-group-item">{{phone}}</li>
    <li id="experience" class="list-group-item">{{experience}}</li>
   <li id="gear" class="list-group-item">{{gear}}</li>
  </ul>
 </div>
</div>


<script src="/javascript/profile.js"></script>
