

{{!-- {{> nav}} --}}
<h2 id="welcome"> Welcome Climbers! </h2>

   {{!-- <link rel="stylesheet" href="/styles.css"> --}}

<link rel="stylesheet" href="./styles.css">
<div class="row">
  <div class="col-7" style="p-1" id="profile-image"> <img src="./images/cave.png"></div>
  <div class="col-5" id="info">
    <div class="card mt-5" id="card-info" style="width: 500px; height: 700px; margin-top: 1%">
  {{!-- <img class="card-img-top" id="profile-image" src="..." alt="Card image cap"> --}}
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src={{ profile.profile_image }} style="width: 300px; height: auto; margin-top:">
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Location: {{profile.user_location}}</li>
    <li class="list-group-item">Experience: {{profile.user_experience}}</li>
    <li class="list-group-item">Gear: {{profile.has_gear}}</li>
  </ul>
 </div>
</div>
 
 {{!-- {{> matches}} --}}


<script src="/javascript/profile.js"></script>



