
{{!-- {{> nav}} --}}
<h2 id="welcome"> Welcome Climbers! </h2>

   <link rel="stylesheet" href="/styles.css">

{{!-- {{> nav}} --}}



<div id="profile-box" class="profile-card card border-secondary mb-3">
  <h2 id="welcome"> Welcome Climbers! </h2>
<div class="card" style="width: 18rem;">
  <img src= {{ profile.profile_image}} class="card-img-top" style=" padding: 5px; width: 300px" alt="profile picture">
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text">My preferences</p>
  </div>
  <ul class="list-group list-group-flush">
    <li id="username"class="list-group-item">Username: {{ user.username }}</li>
    <li id="email"class="list-group-item">User email: {{ user.email }}</li>
    <li id="location" class="list-group-item">User Location: {{profile.user_location}}</li>
    <li id="phone" class="list-group-item">Phone number: {{profile.user_phone}}</li>
    <li id="experience" class="list-group-item">Has experience climbing: {{profile.user_experience}}</li>
   <li id="gear" class="list-group-item">Has Gear: {{profile.has_gear}}</li>
  <img src= {{ profile_image }} class="card-img-top" alt="profile picture">

<link rel="stylesheet" href="./styles.css">
{{!-- <div class="row">
  <div class="col-7" style="p-1" id="profile-image"> <img src="./images/cave.png"></div>
  <div class="col-5" id="info">
    <div class="card mt-5" id="card-info" style="width: 500px; height: 700px; margin-top: 1%">
  {{!-- <img class="card-img-top" id="profile-image" src="..." alt="Card image cap"> --}}
  <div class="card-body">
    <h5 class="card-title">My Beta </h5>
    <img src={{user.profile_image}}>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Username: {{user.username}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Location: {{profile.user_location}}</li>
    <li class="list-group-item">Experience: {{profile.user_experience}}</li>
    <li class="list-group-item">Gear: {{profile.has_gear}}</li>

  </ul>
  </div>
</div>
  </div>
</div> --}}

<script src="/javascript/profile.js"></script>
